{% extends '/Global/Templates/base.html' %}

<!-- Header -->
{% block header %} Bacon Cipher {% endblock %}

<!-- HTML Head Section -->
{% block head %}
<title>Bacon Cipher</title>
<link rel="stylesheet" href="/static/projects/baconcipher/style.css">
<script defer src="/static/projects/baconcipher/app.js"></script>
{% endblock %}




<!-- HTML Body Section -->
{% block body %}
<main>
    <div class="container-left">
        <div class="container-top container-left-widget">
            <h1 class="container-left-title" id="title-message">Enter message here</h1>
            <textarea name="message" id="input-message" cols="100" rows="4" class="input-field"></textarea>
        </div>
        <div class="container-bottom container-left-widget">
            <h1 class="container-left-title" id="title-mask">Enter mask here</h1>
            <textarea name="mask" id="input-mask" cols="100" rows="4" class="input-field"></textarea>
        </div>
    </div>
    <div class="container-right">
        <div class="container-encryption container-right-widget">
            <div class="container-header">
                <h1>Encrpytion</h1>
            </div>
            <div class="container-footer">
                <div class="container-footer-check">
                    <input type="checkbox" name="addMask" id="checkbox-mask" class="checkbox">
                    <label for="addMask" class="checkbox-label">Mask text?</label>
                </div>
                <button id="encrypt-btn" class="button">Encrypt</button>
            </div>
        </div>
        <div class="container-decryption container-right-widget">
            <div class="container-header">
                <h1>Decryption</h1>
            </div>
            <div class="container-footer">
                <button id="decrypt-btn" class="button">Decrypt</button>
            </div>
        </div>
    </div>
    <div class="output-container">
        <h1 class="container-left-title" id="output-title">Output</h1>
        <p id="output">waiting..</p>
    </div>
</main>
{% endblock %}