* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

html {
    background: #f7f7f7;
    --primary: #D16262;
    --onprimary: #f7f7f7;
    --text-mid: #303030;
}

body {
    display: grid;
    grid-template-columns: 4rem repeat(6, 1fr) 4rem;
    background: inherit;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding: 0 4rem;
    color: #303030;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-left: 4rem;
    font-size: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}


.nav-links .user-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: 2px solid #cecece;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

/* User Dropdown Menu Styling */
.user-menu {
    position: absolute;
    width: 200px;
    background: #f1f1f1;
    border: 1px solid #cecece;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0rem;
    justify-items: center;
    z-index: 5;
    transform: translate(-82%, 12%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.user-menu .options {
    list-style: none;
    place-items: space-evenly;
}

.user-menu .menu-tab li {
    color: var(--text-mid);
    padding: 0.4rem 1rem;
    margin: 0.2rem 0rem;
}

.user-menu .menu-important {
    color: var(--text-mid);
    padding: 0.4rem 0.4rem 0.4rem 1rem;
}

.user-menu .menu-tab li:hover {
    background: var(--primary);
    color: var(--onprimary);
}

.line-breaker {
    content: '';
    width: 100%;
    height: 1px;
    background: #cecece;
    margin: 0.4rem 0;
}


.hidden {
    display: none;
    visibility: hidden;
}


.content-section {
    margin-top: 12vh;
    grid-column: 2/6;
}

.content-section-full {
    margin-top: 0;
    grid-column: 1/-1;
}

.flash-alert {
    padding: 0.2rem 0.4rem;
    grid-column: 1/-1;
    margin: 0.5rem 1rem;
}