* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    color: #333;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("./background.png");
    background-size: cover;
    display: grid;
    place-content: center;
}

.sub-title {
    font-size: 24px;
}

.sub-title a {
    text-decoration: none;
}

.title {
    font-size: 48px;
}

.color-red,
.info-text-red {
    color: #D16262;
}

.info-text {
    font-size: 20px;
}

header {
    position: absolute;
    top: 10%;
    left: 5%;
}

#sidebar-container {
    position: absolute;
    left: 56px;
    top: 25%;
}

#top-right-container {
    position: absolute;
    top: 10%;
    right: 5%;
}

#info-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.content {
    text-align: center;
    font-size: 64px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 8px;
}

.widget-title {
    text-align: center;
    font-size: 52px;
}

.clubs-widget {
    margin-top: 64px;
}

#notification {
    padding: 32px 64px;
    margin: 24px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #dedede;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.hidden-element {
    visibility: hidden;
}

#notification h1 {
    font-size: 24px;
}

#notification button {
    width: 50%;
    margin: 24px;
    padding: 4px 8px;
    font-weight: bold;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    pointer-events: all;
}

#notification button:hover {
    background-color: #f7f7f7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.widget-subtitle {
    font-size: 20px;
    text-align: center;
    padding: 4px;
    margin: 24px 0px 0px 0px;
}

.widget-ul-container {
    list-style: none;
    text-align: center;
    padding: 8px;
}

.widget-li {
    padding: 4px;
}

main #info-container {
    position: absolute;
    left: 64px;
    bottom: 64px;
}

.sub-info,
.sub-info-end {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.button-list {
    margin: 16px;
}

.button {
    padding: 8px 56px;
    border: none;
    border-radius: 4px;
    margin: 0px 16px;
    background-color: #5878B8;
    color: #f7f7f7;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.button:hover {
    background-color: #6486c9;
}