:root {
    --width: 20;
    --size: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin gridCenter {
    display: grid;
    place-content: center;
}

body {
    min-height: 100vh;
    h1 {
        text-align: center;
        margin: 2rem;
    }
}

main {
    @include gridCenter();
}

.grid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(var(--width), var(--size));
    gap: 0.1rem;
    margin: 2rem;
    li {
        width: 32px;
        height: 32px;
    }
    input {
        width: 32px;
        height: 32px;
    }
}

.clear {
    background: #f1f1f1;
    cursor: pointer;
}

.start {
    background: lightblue;
}

.hit {
    background: lightgreen
}

.miss {
    background: rgb(255, 122, 122)
}

.hidden {
    display: none;
    visibility: hidden;
}