<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import CSS Styles -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}?ver=2020.88">
    <!-- Import Icon Styles Library -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Title -->
    {% block head %} {% endblock %}
</head>

<body class="--global-body">
    <!-- #region Project Heading Here -->
    <div class="--global-intro">
        <h4><a href="/">{% block header %} {% endblock %}</a></h4>
    </div>
    <!-- #endregion End Project Heading Here -->
    <!-- Put Project Specific Content Here-->
    {% block body %} {% endblock %}
    <!-- End Project Specific Content Here-->
    <!-- Templates Go Here -->
    <template id="--global-onboarding-switch-template">
        
    </template>
    <template id="--global-onboarding-template">
        <div class="--global-onboarding">
            <h3>{% block onboardingtitle %} {% endblock %}</h3>
            <capt>{% block onboardingdesc %} {% endblock %}</capt>
            <ul>{% block widget %} {% endblock %}</ul>
            <button onclick="handleOnboardingEvent()">Continue!</button>
        </div>
    </template>
    <template id="--global-alert-template">
        <div class="--global-alert">
            <h1>Alert</h1>
            <p>Body</p>
            <button onclick="globalHideSelf(this.parentElement)">Continue</button>
        </div>
    </template>
    <!-- Import External Javascript -->
    <script src="/static/javascript/global.js"></script>
</body>

</html>