<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Tic Tac Toe</title>
</head>

<body id="tictactoe-body">
    <!-- Title container section (top left) -->
    <section class="title-container">
        <h2 class="sub-heading">(#7) Tic Tac Toe</h2>
        <h1 class="heading content-colour">Tic Tac Toe</h1>
    </section>

    <!-- Main Game Section -->
    <main class="section-container">
        <!-- Primary Communication Text -->
        <h1 class="sub-heading">Player <span class="content-colour">(X)</span> wins!</h1>
        <div class="game-container">
            <!-- Game Board -->
            <div id="ttt-board">
                <!-- static image -->
                <img src="../../images/ttt-grid.png" alt="" id="ttt-img">
                <!-- grid content -->
                <ul class="list-container" id="ttt-grid">
                    <li class="ttt-li" value="0">#</li>
                    <li class="ttt-li" value="1">#</li>
                    <li class="ttt-li" value="2">#</li>
                    <li class="ttt-li" value="3">#</li>
                    <li class="ttt-li" value="4">#</li>
                    <li class="ttt-li" value="5">#</li>
                    <li class="ttt-li" value="6">#</li>
                    <li class="ttt-li" value="7">#</li>
                    <li class="ttt-li" value="8">#</li>
                </ul>
            </div>
        </div>



    </main>



    <!-- External Javascript Links -->
    <script src="./app.js"></script>
</body>

</html>