@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Styling Reset */

* {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Variables & Default Styling */

html {
    --bg: #F7F7F7;
    --bg-panel: #f1f1f1;
    --bg-panel-acent: #dedede;
    --outline: #c1c1c1;
    --primary: #d16262;
    --primary-alt: #F15E5E;
    --dark-text: #303030;
    --mid-text: #505050;
    --light-text: #707070;
    --very-light-text: #909090;
    --secondary: #98B3E6;
    --button: #f7f7f7;
}

html[data-theme="dark"] {
    --bg: #303030;
    --bg-panel: #404040;
    --bg-panel-acent: #505050;
    --outline: #505050;
    --primary: #F15E5E;
    --primary-alt: #d16262;
    --dark-text: #DEDEDE;
    --mid-text: #c1c1c1;
    --light-text: #b5b5b5;
    --very-light-text: #909090;
    --secondary: #98B3E6;
    --button: #f7f7f7;
}


/* SCSS Functions */

@mixin gridCenter {
    display: grid;
    place-content: center;
}

@mixin gridCenterVertical {
    display: grid;
    place-content: center start;
}


/* Headings */

h1,
h2,
h3 {
    color: var(--dark-text);
}

h1 {
    font-size: clamp(42px, 64px, 72px);
    font-weight: bold;
}

h2 {
    font-size: clamp(36px, 42px, 52px);
    font-weight: bold;
}

h3 {
    font-size: clamp(28px, 32px, 32px);
    font-weight: 700;
    margin-bottom: 1rem;
}

h4 {
    font-size: clamp(24px, 28px, 32px);
    font-weight: 600;
    color: var(--mid-text)
}

.h4-dark {
    font-size: clamp(24px, 28px, 32px);
    font-weight: 700;
    color: var(--dark-text)
}

p {
    color: var(--dark-text);
}

.light {
    color: var(--mid-text);
}

.semibold {
    font-weight: 600;
}


a {
    text-decoration: none;
    color: inherit;
}


.global-header {
    position: absolute;
    left: 3%;
    top: 6%;
    padding: 1rem 1rem 1rem 2rem;
    border-left: 3px solid var(--primary);
}

/* */

body {
    background: var(--bg);
}

.colour {
    color: var(--primary);
}

.global-widget {
    width: 60%;
    height: 38%;
    background: var(--bg-panel);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: max-content 1fr;
    gap: 1rem;

    div:first-of-type {
        margin-bottom: 2rem;
    }

    .options {
        grid-row: 2/2;
        grid-column: 1/1;
        padding-right: 3rem;
    }


    P {
        max-width: 100%;
    }

    li {
        list-style: none;
    }

    input:checked+.duo {
        background: var(--secondary);
    }

    .duo {
        background: var(--secondary);
    }

    .small {
        font-size: 12px;
        color: var(--light-text);
    }

    .small:last-of-type {
        margin-left: 0.8rem;
    }

    .option-switch {
        display: grid;
        place-items: center start;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        margin-bottom: 0.8rem;
        padding-left: 0.5rem;
    }

    .singular {
        grid-column: -2;

    }

    button {
        width: 85%;
        height: 36px;
        border-radius: 8px;
        background: var(--primary);
        outline: none;
        border: none;
        color: var(--button);
        font-weight: 700;
        grid-row: 2/2;
        grid-column: 2/2;
        place-self: end center;
        cursor: pointer;
    }

    button:hover {
        background: var(--primary-alt);
    }

    .option-input {
        display: grid;
        place-items: center start;
        grid-template-columns: 2fr 3fr;
        margin-bottom: 0.8rem;
    }

    .input {
        width: 100%;
        outline: none;
        border: none;
        background: none;
        border-bottom: 2px solid var(--outline);
        padding: 0.4rem 0rem 0.2rem 0.4rem;
        color: var(--light-text);
    }

    .input:focus-within {
        border-bottom: 2px solid var(--mid-text);
        color: var(--mid-text);
    }
}

/* Switch CSS 
The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D1D1D1;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.slider.round,
.duo {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}


.hidden {
    display: none;
    visibility: hidden;
}