<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import CSS Styles -->
    <link rel="stylesheet" href="/jspatrick/Global/Styles/global.css">
    <link rel="stylesheet" href="">
    <!-- Import Icon Styles Library -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Title -->
    <title>Title</title>
</head>

<body class="--global-body">
    <!-- #region Project Heading Here -->
    <div class="--global-intro">
        <h4><a href="/jspatrick/index.html">Project Title Here</a></h4>
    </div>
    <!-- #endregion End Project Heading Here -->
    <!-- Put Project Specific Content Here-->





    <!-- End Project Specific Content Here-->
    <!-- Templates Go Here -->
    <template id="--global-alert-template">
        <div class="--global-alert">
            <h1>Alert</h1>
            <p>Body</p>
            <button onclick="globalHideSelf(this.parentElement)">Continue</button>
        </div>
    </template>
    <!-- Import External Javascript -->
    <script src=""></script>
    <script src="/jspatrick/Global/Functions/global.js"></script>
</body>

</html>