{% extends '/Global/Templates/base.html' %}

<!-- Header -->
{% block header %} BTD {% endblock %}

<!-- HTML Head Section -->
{% block head %} 
<title>BTD</title>
<link rel="stylesheet" href="{{url_for('static', filename='/projects/btd/btd.css')}}">
<script defer src="{{url_for('static', filename='/projects/btd/btd.js')}}"></script>
{% endblock %}




<!-- HTML Body Section -->
{% block body %}
<section id="btd">
    <ul class="grid" id="btdgrid">
        <div class="widget">

        </div>
    </ul>

    <ul class="shop">
        <li onclick=shopSelected(this)>Cow Gunner</li>
        <li onclick=shopSelected(this)>Cow Farmker</li>
        <li onclick=shopSelected(this)>Cow Laser</li>
    </ul>
</section>

{% endblock %}

