{% extends '/Global/Templates/base.html' %}

<!-- Header -->
{% block header %} Counter {% endblock %}

<!-- HTML Head Section -->
{% block head %}
<title>Counter</title>
<!--<link rel="stylesheet" href="/static/projects/baconcipher/style.css">
<script defer src="/static/projects/baconcipher/app.js"></script>-->
<style>
    #time{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
</style>
{% endblock %}

<!-- HTML Body Section -->
{% block body %}
<h3 id="time" class="colour"></h3>
<script>
    count = 0;
    setInterval(function(){count++
    document.querySelector("#time").innerHTML = count},1000)
</script>
{% endblock %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import CSS Styles -->
    <link rel="stylesheet" href="./../../styles/shared/global.css">
    <link rel="stylesheet" href="./counter.css">
    <!-- Import Icon Styles Library -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Title -->
    <title>Counter</title>
    
</head>

<body id="timemachine">
    <header class="global-header">
        <h4 class="h4-dark"><a href="./../../index.html">Counter</a></h4>
    </header>


    
    <!-- Import External Javascript -->
    
</body>

</html>