* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.key {
    background-color: #444;
    box-shadow: -4px -4px 6px rgba(0, 0, 0, 0.24);
    width: 42px;
    height: 42px;
    color: #f1f1f1;
    display: grid;
    place-content: center;
    font-weight: bold;
    font-family: ubuntu;
    cursor: pointer;
}

.key:active {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.24);
    background-color: #404040;
}

body {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
}

#calculator {
    background-color: #333;
    padding: 1rem;
    box-shadow: -6px -6px 12px rgba(0, 0, 0, 0.24);
}

#screen {
    background-color: #444;
    margin-bottom: 1rem;
}

.screenContent {
    padding: 1rem;
    text-align: right;
}

#result {
    color: #D16262;
    font-size: 32px;
}

#calculation {
    color: #f1f1f1;
    font-size: 12px;
}

#keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.6rem;
}

#equal {
    height: 100%;
    grid-row: 3/6;
    grid-column: 4;
}

#num0 {
    width: 100%;
    grid-column: 1/3;
}