@import "./../shared/global.scss";

.background {
    position: absolute;
    grid-column: 1/-1;
    grid-row: 1/-1;

    svg {
        position: absolute;
    }

    .cls-1 {
        fill: var(--primary);
    }

    #tl {
        top: 0;
        left: 0;
    }

    #tr {
        top: 0;
        right: 0;
    }

    #bl {
        bottom: 0;
        left: 0
    }

    #br {
        bottom: 0;
        right: 0;
    }
}


body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: minmax(100px, 200px) 1fr minmax(100px, 200px);
    grid-template-rows: repeat(4, minmax(800px, 100vh));
}




.title {
    grid-column: 2/3;
    @include gridCenterVertical();

    .sub-intro h4 {
        color: var(--dark-text);
    }
}

.projects {
    grid-column: 2/3;
    grid-row: 2/3;
}