{% extends '/Global/Templates/base.html' %}

<!-- Header -->
{% block header %} Todo List {% endblock %}

<!-- HTML Head Section -->
{% block head %}
<title>Todo List</title>
<link rel="stylesheet" href="/static/projects/todo/todo.css">
<script defer src="/static/projects/todo/todo.js"></script>
{% endblock %}

<!-- HTML Body Section -->
{% block body %}
<div class="edit-popup hidden">
    <input type="text" name="task-input" id="input">
    <button onclick="taskChange()">Update</button>
</div>
<main class="main">
    <ul class="grid">

    </ul>
</main>
<div class="add" onclick="newList()">
    <i class="material-icons">add</i>
</div>
<!-- Global Introduction Widget -->
<div class="global-widget">
    <div>
        <h4 class="semibold">Todo List</h4>
        <p class="light">Organise and create your own lists of things to do, check them off to keep track of your
            goals and tasks! Click any text to change it. Click I'm Ready to begin</p>
    </div>
    <div class="options"></div>
    <div class="options-other">
        <li class="option-switch"></li>
        <li class="option-switch"></li>
    </div>
    <button onclick="start(this)">I'm Ready!</button>
</div>
<!-- Templates -->
<template id="template-list">
    <div class="list">
        <h4 onclick="updateTask(this)">My List</h4>
        <p onclick="updateTask(this)">Full of Great Things!</p>
        <ul class="tasks">

        </ul>
        <button class="new" onclick="newTask(this)">New Task!</button>
    </div>
</template>
<template id="template-task">
    <div class="task-widget">
        <p class="semibold light" onclick="updateTask(this)">New Task! - Click Me!</p>
        <button onclick="completeTask(this)" class="check"><i class="material-icons">check</i></button>
        <button onclick="removeTask(this)" class="remove"><i class="material-icons">delete</i></button>
    </div>
</template>
{% endblock %}
