@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* Styling Reset */
* {
  font-family: "Source Sans Pro";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables & Default Styling */
html {
  --bg: #F7F7F7;
  --bg-panel: #f1f1f1;
  --bg-panel-acent: #dedede;
  --outline: #c1c1c1;
  --primary: #d16262;
  --dark-text: #303030;
  --mid-text: #505050;
  --light-text: #707070;
  --very-light-text: #909090;
  --secondary: #98B3E6;
}

html[data-theme="dark"] {
  --bg: #303030;
  --bg-panel: #404040;
  --bg-panel-acent: #505050;
  --outline: #505050;
  --primary: #F15E5E;
  --dark-text: #DEDEDE;
  --mid-text: #c1c1c1;
  --light-text: #b5b5b5;
  --very-light-text: #909090;
  --secondary: #98B3E6;
}

/* SCSS Functions */
/* Headings */
h1,
h2,
h3 {
  color: var(--dark-text);
}

h1 {
  font-size: clamp(42px, 64px, 72px);
  font-weight: bold;
}

h2 {
  font-size: clamp(36px, 42px, 52px);
  font-weight: bold;
}

h3 {
  font-size: clamp(28px, 32px, 32px);
  font-weight: 700;
  margin-bottom: 1rem;
}

h4 {
  font-size: clamp(24px, 28px, 32px);
  font-weight: 600;
  color: var(--mid-text);
}

.h4-dark {
  font-size: clamp(24px, 28px, 32px);
  font-weight: 700;
  color: var(--dark-text);
}

p {
  color: var(--dark-text);
}

.light {
  color: var(--mid-text);
}

.semibold {
  font-weight: 600;
}

/* */
body {
  background: var(--bg);
}

.colour {
  color: var(--primary);
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(max-content, 130px) 1fr auto;
      grid-template-rows: minmax(-webkit-max-content, 130px) 1fr auto;
      grid-template-rows: minmax(max-content, 130px) 1fr auto;
}

.header {
  position: absolute;
  left: 3%;
  top: 6%;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 3px solid var(--primary);
}

.main {
  display: -ms-grid;
  display: grid;
  place-content: center start;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-left: 3rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  place-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list {
  position: relative;
  margin: 1.5rem;
  padding: 1.5rem;
  background: var(--bg-panel);
  width: 340px;
  min-height: 70vh;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.list .tasks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-top: 1rem;
  padding-bottom: 4rem;
  gap: 0.2rem;
}

.list .tasks .task-widget {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  position: relative;
  background: var(--bg);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
  place-items: center start;
  padding: 0.2rem 0.4rem 0.2rem 1rem;
  gap: 4px;
}

.list .tasks .check,
.list .tasks .remove {
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  color: var(--bg);
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  border-radius: 4px;
}

.list .tasks .check {
  background: #6BC1A1;
}

.list .tasks .remove {
  background: #D48B8B;
}

.list button[class="new"] {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 75%;
  height: 36px;
  border-radius: 8px;
  background: var(--primary);
  outline: none;
  border: none;
  color: var(--bg);
  font-weight: 600;
}

.footer {
  position: fixed;
  bottom: 6%;
  left: 3%;
}

.add {
  position: fixed;
  bottom: 6%;
  right: 3%;
  border-radius: 100%;
  background: var(--primary);
  width: 64px;
  height: 64px;
  color: var(--bg);
  display: -ms-grid;
  display: grid;
  place-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.add i {
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 32px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.edit-popup {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  z-index: 99;
  padding: 0.2rem;
  -webkit-transform: translate(-0.5rem, -0.3rem);
          transform: translate(-0.5rem, -0.3rem);
  gap: 4px;
  background: var(--bg-panel);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 280px;
}

.edit-popup input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 0.2rem;
  border-radius: 4px;
  color: var(--mid-text);
}

.edit-popup button {
  outline: none;
  border: none;
  background: var(--outline);
  font-weight: 600;
  color: var(--bg);
  padding: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.edit-popup button:hover {
  background: var(--secondary);
}
/*# sourceMappingURL=todo.css.map */