{% extends 'layout.html' %}

{% block content %}
<div class="intro">
    <div class="intro-text">
        <h1 class="hide"> <span class="text">Developing innovative</span> </h1>
        <h1 class="hide"> <span class="text">Solutions for</span> </h1>
        <h1 class="hide"> <span class="text">everyday problems.</span> </h1>
    </div>
    <div class="slider"></div>
</div>
<main>
    <section class="title">
        <h1 class='title-text'>I'm Patrick Richardson</h1>
        <h2 class='sub-title'>Creator, Developer & Designer of JS Patrick</h2>
    </section>
</main>
{% endblock content %}