{% extends 'layout.html' %}

{% block content %}
<div class="intro">
    <div class="intro-text">
        <h1 class="hide"> <span class="text">Developing innovative</span> </h1>
        <h1 class="hide"> <span class="text">Solutions for</span> </h1>
        <h1 class="hide"> <span class="text">everyday problems.</span> </h1>
    </div>
    <div class="slider"></div>
</div>
<main>
    <div class="title">
        <h1 class="title-text">I'm Patrick Richardson</h1>
        <h3 class="title-text">Creator, Designer & Developer of JS Patrick</h3>
    </div>
    <p class="initialisation-text">Welcome to JS Patrick. You can navigate through the site using the
        navigation buttons in the top right or by using your scroll wheel.<br><br>     
        You can change your preferences and colour themes by clicking 
        on the avatar in the top right.</p>
</main>
{% endblock content %}