<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="{{ style }}">
    <!-- Font Libraries -->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
        rel="stylesheet" />

    <!-- Title -->
    {% if title %}
    <title>JSPatrick - {{ title }}</title>
    {% else %}
    <title>JSPatrick</title>
    {% endif %}
</head>

<body>
    <!-- Navigation -->
    <nav>
        <h1 class="logo">JSPatrick</h1>
        <ul class="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><img src="/static/images/hero.jpg" alt="" class="user-icon"></li>
        </ul>
    </nav>


    {% block content %}

    {% endblock content %}

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='javascript/global.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <!-- Custom Javascript -->
    <script src="{{ javascript }}"></script>
</body>

</html>